* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --bg-color: #1f1c1c;
    --bg-color-light: rgba(59, 205, 250, 0.26);
    --text-color: #f5f5f5;
    --btn-selected-color: #3bcdfa;
    --btn-unselected-color: #f0f8ff;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: "Roboto";
}

#timer {
    display: flex;
    font-size: clamp(4rem, 4rem + 10vw, 8.8rem);
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

button img {
    width: clamp(3rem, 2rem + 10vw, 6.4rem);
}

.hide {
    display: none;
}

#controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
    background: var(--bg-color-light);
    border-radius: 9999px;
    width: clamp(10rem, 10rem + 30vw, 22.8rem); /* clamp(min size, ideal size, max size) */
    height: clamp(8rem, 5rem + 10vw, 10.8rem);
}