* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --bg-color: #001b2e;
    --bg-color-light: hsla(207, 28%, 45%, 0.259);
    --text-color: #eef3f9;
    --btn-selected-color: #44d1b7;
    --btn-unselected-color: #b3cde4;
    --test: #537692;
}

body {
    display: grid;
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--text-color);
    font-family: "Roboto";
}

main {
    justify-self: center;
    align-self: end;
}

#timer {
    display: flex;
    font-size: clamp(4rem, 4rem + 10vw, 8.8rem);
    margin-bottom: 1.6rem;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

button svg {
    width: clamp(3rem, 2rem + 10vw, 6.4rem);
}

.play svg path,
.pause svg path,
.stop svg path,
.set svg path,
.muted svg path,
.unmuted svg path {
    fill: var(--btn-selected-color);
}

.hide {
    display: none;
}

#controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
    background: var(--bg-color-light);
    border-radius: 9999px;
    width: clamp(10rem, 10rem + 30vw, 22.8rem); /* clamp(min size, ideal size, max size) */
    height: clamp(8rem, 5rem + 10vw, 10.8rem);
}

footer {
    justify-self: end;
    align-self: end;
    padding: 0 4rem 3.2rem 0;
}

footer svg {
    width: clamp(3rem, 2rem + 10vw, 5rem);
}